<center>


<div class="panel panel-primary" style="max-width: 360px;margin-top: 50px;">
    <div class="panel-heading">
      <h3 class="panel-title">SIGN UP</h3>
    </div>
    <div class="panel-body" style="text-align: left;">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
            <br>
            <div class="input-group">
              <span class="input-group-addon" id="first_name"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
              <%= f.text_field :first_name, autofocus: true, class: "form-control input-lg", "aria-describedby" => "first_name", placeholder: "first name..." %>
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon" id="last_name"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
              <%= f.text_field :last_name, class: "form-control input-lg", "aria-describedby" => "last_name", placeholder: "last name..." %>
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon" id="city"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></span>
              <%= f.text_field :city, class: "form-control input-lg", "aria-describedby" => "city", placeholder: "city..." %>
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon" id="country"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></span>
              <%= f.text_field :country, class: "form-control input-lg", "aria-describedby" => "country", placeholder: "country..." %>
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon" id="organization"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></span>
              <%= f.text_field :organization, class: "form-control input-lg", "aria-describedby" => "organization", placeholder: "organization..." %>
            </div>
            <br>
            <%= f.hidden_field :user_type, value: "pending" %>
            <div class="input-group">
              <span class="input-group-addon" id="email"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
              <%= f.email_field :email, class: "form-control input-lg", "aria-describedby" => "email", placeholder: " johndoe@email.com..." %>
            </div>
            <br>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
            <div class="input-group" style="margin-bottom: 5px;">
              <span class="input-group-addon" id="password"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
              <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg", "aria-describedby" => "password...", placeholder: "password" %>
            </div>
            <br>
            <div class="input-group" style="margin-bottom: 5px;">
              <span class="input-group-addon" id="password_confirmation"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-lg", "aria-describedby" => "password_confirmation", placeholder: "password confirmation..." %>
            </div>
            <br>

          <div class="actions">
            <%= f.submit "Sign up", class: "btn btn-primary btn-block btn-lg" %>
          </div>
        <% end %>
        </div>
        <div class="panel-footer">
            <center>
              <%= link_to "Log in", new_session_path(resource_name), class: "link-no-underline" %>
            </center>
        </div>
  </div>
</center>