
  <% @categories.each do |category| %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= category.name.upcase %></h3>	
        </div>
        <div class="panel-body">
          <% category.users.each do |user| %>
            <div class="row" style="border-bottom: 1px solid black; padding: 10px;">
              <div class="col-md-9">
    				     <%= user.email %> (<%= user.first_name %> <%= user.last_name %>)
              </div>
              <div class="col-md-3">
                <%= link_to delete_user_cat_user_path(user, cat_id: category.id), remote: true, method: :delete, data: { confirm: "Are You Sure?"}, class: "btn btn-danger btn-sm" do %> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete <% end %>
              </div>
            </div>
    			<% end %>
        </div>
    </div>
  <% end %>
