<% @users.each do |user| %>
  <li class="li-style-green">
	  <div class="row" style="margin: 10px 0;">
	  	<div class="col-md-1">
	  	</div>
		<div class="col-md-3">
			<%= user.first_name %>
			<%= user.last_name %>
		</div>
		<div class="col-md-3">
			<%= user.email %>
		</div>
		<div class="col-md-2">
			<%= user.user_type %>
		</div>
		<div class="col-md-2">
		      <%= link_to user, remote: true, method: :delete, data: { confirm: "Are You Sure?"}, class: "btn btn-danger btn-sm" do %> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete <% end %>
		</div>
		<div class="col-md-1">
		</div>
	  </div>
  </li>
<% end %>
