
	  <div class="row" style="border-top: 1px solid black;">
			<div class="col-md-3">
			  <div style="padding-top: 15px;">
				<%= user.first_name %>
				<%= user.last_name %>
			  </div>
			</div>
			<div class="col-md-3">
			  <div style="padding-top: 15px;">
				<%= user.email %>
			  </div>
			</div>
			<div class="col-md-3">
			  <div style="padding-top: 15px;">
				<%= user.user_type %>
			  </div>
			</div>
			<div class="col-md-3">
			  <div style="padding-top: 10px;">
			      <%= link_to user, remote: true, method: :delete, data: { confirm: "Are You Sure?"}, class: "btn btn-danger btn-sm" do %> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete <% end %>
			  </div>
			</div>
	  </div>
