<center>


<div class="panel panel-primary" style="max-width: 320px;margin-top: 50px;">
    <div class="panel-heading">
      <h3 class="panel-title">LOG IN</h3>
    </div>
    <div class="panel-body" style="text-align: left;">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <br>
            <div class="input-group">
              <span class="input-group-addon" id="email"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
              <%= f.email_field :email, autofocus: true, class: "form-control input-lg", "aria-describedby" => "email", placeholder: " johndoe@email.com..." %>
            </div>
            <br>
            <div class="input-group" style="margin-bottom: 5px;">
              <span class="input-group-addon" id="password"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
              <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg", "aria-describedby" => "password", placeholder: "password..." %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <br>

            <div class="actions">
              <%= f.submit "Log in", class: "btn btn-primary btn-lg btn-block" %>
            </div>
          <% end %>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-6">

                  <%= link_to "Sign up", new_registration_path(resource_name), class: "link-no-underline" %>
            </div>
            <div class="col-md-6">
                  <%= link_to "Forgot password?", new_password_path(resource_name), class: "link-no-underline" %>
            </div>
          </div>
        </div>
  </div>
</center>